@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ffffff 1.84%, #c3c3c3 102.67%);
  --accent-bar: #51da4c;
  
  --color-bg: #000000;
  --color-footer : #031B34;
  --color-blog: #042c54;
  --color-text: #eaeaea;
  --color-subtext: #51da4c;
}